:root{
    --width-item:23px;
    --heigh-item:23px;
    --margininmenuhead:30px;
    --padding-menucontent:15px;
    --menulist-width:250px;
    --headmenu-heigh:70px;
    --text-width : 150px;
    --streaklanguage-heigh: 70px;
    --endmenu_heigh: 40px;
    --menulist-color: rgb(255, 250, 250);
    --usercontent1-heigh:80px;
    --usercontent-margin-left:30px;
    --name_email-width:200px;
    --usercontent_heigh:70px;
    --pomodoropage_head-heigh:9%;
    --note_all_favourite-heigh:40px;


    /* =============================================================================== */
                /* ========TODO======== */

            --todoheaing-color:  rgb(153, 198, 231) ;
            --notepage-color: rgb(140, 161, 200); ;
            --todoitem-color : rgb(221, 215, 237) ;
            --todoadd-color: rgb(46, 46, 234); 
            --todocontent-color: rgb(196, 201, 233);
            --taskcontent-color: rgba(72, 102, 129, 0.436);
            
                /* ======================= */

                /* ==========CHART=========== */
                --chartheading-color : rgb(226, 231, 243);
                --timeofdayitem-color :rgb(239, 233, 233);
                --chart_pomo_element-color: rgb(235, 235, 235); 
                --chart_note_element-color: #ffffff;  
                --chart_todolist_element-color : rgb(255, 255, 255) ;
                --chart_schdule_emelent-color : rgb(255, 255, 255);
                --chart_name_content-color: rgb(181, 200, 208);
                --todolistbar-color : rgb(255, 255, 255);

                /* ============================== */
}

*{
    padding:0;
    margin: 0;
    font-family:  sans-serif;
    font-optical-sizing: auto;
    font-style:normal;


}
.syne-font {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}


body {
}
                /* max-width = 780px */
@media (max-width: 1780px){
    .imgoflanguage{
        width: 100%;
        height: 100%;
    }
    .imgoflogoweb{
        width: 100%;
        height: 100%;
    }
    .check{
        top:90px;
        position: relative;
        z-index: 10;
        display: none;
    }
    header{
        position: fixed;
        top: 0;
        border-bottom: 1px solid black;
        /* background: #ece4e4; */
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* gap:20px; */
        align-items: center;
        z-index: 0;
    }
    .logoweb, .logouser  ,.menu  {
        /* border: 1px solid black; */
        /* width: var(--width-item); */
        height: var(--width-item);
        cursor: pointer;
    }

    .logo_language,.user_menu {
        display: flex;
        gap:20px;
        justify-content: center;
        align-items: center;
    }
    .logo_language{
        gap: 35px;
    }
    .logoweb{
        width: 80px;
        height: var(--headmenu-heigh);
        margin-left: 10px;
    }
    
    .user_menu{
        margin-right: var(--margininmenuhead) ;
        margin-left: auto;
    }
    .logo_language{
        margin-left: var(--margininmenuhead);
    }
    .close, .menu2{
        /* border: 1px solid black; */
        width: var(--width-item);
        height: var(--heigh-item);
        /* background-color: aqua; */
        cursor: pointer;
    }
    nav{
        /* opacity: 0.2; */
    }
    .undernavmenu {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;  
        background: rgb(61, 60, 60);
        opacity: 0.5;

        /* border: 2px solid black; */
        left:0;
        top:0;
        z-index: 190;
    }
   
    .menulist{
        position: fixed;
        right: 0px;
        top: 0px;
        width: var(--menulist-width);
        height: 100vh;
        background-color:var(--menulist-color);
        /* opacity: 0.6; */
        border-radius: 20px 0px 0px 20px;
        /* padding: 10px; */
        /* border:1px solid black; */
        z-index: 200;
        transform: translateX(100%); 
        transition: transform 0.4s ease;
        overflow-x:visible;


    
     
}
.menulist::-webkit-scrollbar {
  display: none;              
}
#openmenu:checked ~ .menulist {  
     transform: translateX(0);
    }
    .menuhead{
        position:fixed;
        width: var(--menulist-width);
        height: var(--headmenu-heigh);  
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: var(--menulist-color);
        border-radius: 10px 0px 0px 0px;
        z-index: 2;
       




    }
     .menucontent{
        margin-top: var(--headmenu-heigh);
        height: calc(100vh - var(--headmenu-heigh) - var(--endmenu_heigh));
        width: auto;
        padding: var(--padding-menucontent);
        overflow: scroll;

    }
   
 
    .menu2{
        margin-right:var(--margininmenuhead);
        margin-left:auto ;
    }
    .close{
        margin-left: var(--margininmenuhead);
    }
   
    #openmenu:checked ~  .menulist{
        display: block;
    }
    #openmenu:checked ~ .undernavmenu{
        display: block;
    }


/* ======================================== Tinh nang ============================================================= */


.content1,.content2 , .content3{
    width: 100%;
    height:200px;
    padding: 0 ;
    z-index: 1;
}


.group{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap:10px;
    padding:10px;
    border-radius: 5px;
    border: 0px solid whitesmoke;
    cursor: pointer;
}


 .text  {
    height: 32px;
    border:1px solid black;
    width: 32px;
    font-size: 1.2em;
    text-decoration: none;
}
.text{
    width: var(--text-width);
}
.content1{
    height: auto;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: -20px;
}
.content2{
    margin-top: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap:15px;
    

}
.endmenu{
    position:fixed;
    width: var(--menulist-width);
    height: var(--endmenu_heigh);  
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    border: 1px solid black;
    background: whitesmoke;
    border-radius: 0px 0px 0px 10px;
    z-index: 2;
    gap:70px
    
    
}
.content3{
        margin-top: 10px;
}
.leaderboard{
    display: flex;
    align-items: center;
    margin: 10px;
}

.logouticon{
    width: 30px;
    height: 30px;
  
}
.streak_language{
    position:fixed;
    width: var(--menulist-width);
    height: calc(var(--streaklanguage-heigh) - 20px + var(--endmenu_heigh));  
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--menulist-color);
    z-index: 2;
    gap:20px;
    border-radius: 20px 20px 0px 0px ;
}
.streak_group {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    
}
.language_group{
    width: 25px;
    height: 10px;
    border: 1px solid black;
    display: none;
}
.streak{
    width: 60px;
    height: 20px;
    border: 2px solid black;
}
.settingicon{
    width: 36px;
    height: 36px;
}
.text{
    /* text-align: start; */
    display: flex;
    justify-content: left;
    align-items: center;
    border: none;
}
.menuicon{
    width: 25px;
    height: 25px;
}
.group:hover{   
    background-color: rgb(233, 233, 233);
}
.logouticon:hover{

    box-shadow:  1px 1px 6px -1px #94a3b8,
                    -2px -2px 6px -1px #f1f5f9;
}
.menucontent::-webkit-scrollbar {
  display: none;
}

.usercontent{
    width: 100%;
    height: 550px;
    background-color: rgb(243, 243, 243);
    z-index: 191;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 25px 0px 0px 25px ;
    /* display:none; */
    transform: translateY(150%);
    transition: transform 0.6s ease;
}
.underusercontent{
    width: 100vw;
    height: 100vh;
    background: rgb(61, 60, 60);
    opacity: 0.5;
    z-index: 190;
    position: fixed;
    top: 0;
    display:none;
    
}
#openuser:checked ~ .usercontent{
     transform: translateY(0);
}
#openuser:checked ~ .usercontent{
    display:flex;
}
#openuser:checked ~ .underusercontent{
    display:block;
}

.closeusercontent{
    /* display: none; */
    position:fixed;
    top: 0;
    width: 100vw;
    height: 30px;
    /* background-color: rgb(41, 103, 174); */
    border-radius: 25px 25px 0px 0px ;
    border-bottom:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}
.usercontentlist{
    width: 100%;
    height: auto;
    background-color: rgb(241, 241, 241);
    margin-top: 30px;
    z-index: 1;
    overflow-y: scroll; 
}
.usercontentlist::-webkit-scrollbar {
  display: none;
}
.usercontent1{
    width: auto;
    height: var(--usercontent1-heigh);
    /* border:1px solid rgb(219, 39, 39); */
    display: flex;
    justify-content: left;
    align-items: center;
    gap:10px;
    overflow: hidden;

}
.avatar{
    margin-left: var(--usercontent-margin-left);
    width: calc(var(--usercontent1-heigh) - 20px);
    height: calc(var(--usercontent1-heigh) - 20px);
    border:1px solid black;
    border-radius: 50%;

}
.name_email{
    width: var(--name_email-width);
    border:1px solid black;
    height: calc(var(--usercontent1-heigh) - 20px);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
}
.usercontent2 , .usercontent4{
   width: auto;
   height: auto;
   /* border: 1px solid black;  */
}
.icon_usercontent{
    margin-left: var(--usercontent-margin-left);
}
.text_usercontent{
    margin-left: 15px;
}

.achive , .usercontentsetting ,.darklight , .language , .logout { 
    width: auto;
    height: var(--usercontent_heigh);
    display: flex;
    justify-content: left;
    align-items: center;

}

 .help ,.error , .privacy{
    width: auto;
    height: calc(var(--usercontent1-heigh) - 30px) ;
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin-left: calc(var(--usercontent-margin-left) - 10px); */
    padding-left: calc(var(--usercontent-margin-left) - 10px);
 }
 .chooselanguage{
    width: 35px;
    height: 25px; 
    border: 1px solid black;
    margin-left: var(--usercontent-margin-left);
    border-radius: 4px;
 }
 .usercontent1 , .usercontent2 , .usercontent3 , .usercontent4{
    border-bottom: 1px solid gray;
 }
 .alliteminusercontent:hover{
    background-color: rgb(233, 233, 233);
 }


/* ============================================================  TÍNH NĂNG ================================================================== */

.underpomost{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 59;
    background-color: #595858;
    opacity: 0.8;
    display: none;
}

.openunderstpomo{
    display: block;
}

.settingtimepomo{

    z-index: 60;
    width: 90%;
    position: fixed;
    top:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    left: 5%;
    border-radius: 6px;
    padding-bottom:15px;
    background-color:rgb(227, 157, 164) ;
    transition: 0.3s;
    display: none;
}
.clstpomo{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;align-items: center;
}

.stheading{
    height: 95%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* border: 1px solid black; */
}

.clstpomo{
    position: absolute;
    /* left: 100%; */right: 25px;
    
}
.stcontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    /* border: 1px solid black; */
}
.stcontenthead{
    border-top:1px solid black ;
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40px;
    font-size: 20px;
}
.stcontentsettime{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;

    /* border: 1px solid black;  */

}
#setpomodone{
    width: 60px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    /* position: absolute; */
    background-color: #dfc8d6;
     display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-top: 10px;
    
}

.settimefocus , .settimeshort ,.settinglong {
    width: calc(90% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#timeoffucusid , #timeoflong , #timeoflongbreak{
    width: 70%;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(239, 238, 240);
}
.opensettingpomo{
    display: flex;
}

.pomodoropageclass{
    width: 100%;
    height: calc(100% - var(--headmenu-heigh));
    background-color: rgb(228, 190, 190);
    position: fixed;
    top:var(--headmenu-heigh);
    left: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    /* overflow: scroll; */
    display: none;
    transition: 0.3s;   
    gap:5%;  
    /* background-color: red; */
}
.pomodoropage_head{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:40px;
    border-bottom: 2px solid brown;
    margin-bottom: 30px;
}
.pomodoropage_head_name{
    /* border: 1px solid black; */
    /* margin-top: 20px; */
    width: 60%;
    height: 70px;
    font-size: 25px;
    gap:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pomodoropage_content{
    background-color: antiquewhite;
    width: 100%;
    height: 420px;
    /* height:auto; */

    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: center;    
    /* border: 3px solid black; */
    /* margin-bottom: 30px; */

    /* background-color: rebeccapurple; */
}
.timer{
    border: 2px solid black;
    width: 330px;    /* height: auto; */
    height: 340px;
    background-color: beige;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 10px
    /* border: 1px solid red; */
}
.timer_head{
    /* background-color: chartreuse; */
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
}
.timer_count{
    /* background-color: aquamarine; */
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}
.timer_time{
    /* background-color: rgb(185, 221, 221); */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.count{
    width: 50px;
    height:30px;
    background-color: rgb(224, 240, 187);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}


.itemheadpomo{
    width: 85px;
    height: 45px;
    border: 1px solid black;
    
    border-radius: 3px;
    font-size:16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.hour_minute{
    /* border: 1px solid black; */
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 70px ;
    
}
.timer_start{
    /* background-color: rgb(232, 188, 188); */
    width: 100%;
    height: 65px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.start{
    width: calc(90% /3 );
    height: 55px;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 40px; */
}

.pomodoro_end{
    /* margin-top:20px; */
    width: 100%;
    height: 100px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
    /* border: 2px solid red; */
}
.itenendpomo{
    width:110px;
    height: 55px;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.pomodoropageopen{
    /* transition: 1.3s; */
    top:0px;
    height: 100%;
    transition: 0.3s;
    display: flex;
}
.pomodoropagezoom{
    top:var(--headmenu-heigh);
    transition: 0.3s;
}

.open_pomo{
    display:flex; 
}

/* ================================================================================================================================= */

.notepageclass{
    width: 100%;
    height: calc(100% - var(--headmenu-heigh));
    position: fixed;
    background-color:   rgb(213, 199, 239);
    /* opacity: 0.2; */
    top: var(--headmenu-heigh);
    left: 0;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    overflow: scroll;
    /* display: none; */
}

.notepageclass::-webkit-scrollbar{
    display: none;
}

.describe_find_group{
    display: flex;
    flex-direction:column;
    /* border: 2px solid red; */
}
.note_describe{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* background-color: #94a3b8; */
    /* position: fixed ; */
}
.note_heading{
    width: 60%;
    height: 75px;
    /* background-color: #f1f5f9; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap:5px;
}
.notepage_find_type{
    width: 100%;
    height: auto;
    /* padding: 10px; */
    /* background-color: aquamarine; */

    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* border: 1px solid black; */
}
.note_find{
    width:65%;
    height:40px;
    /* background-color: rgb(251, 251, 251); */
    display: flex;
    align-items: center;
    border-radius:100px;
    border: 2px solid black ;
    /* margin:20px 0px;  */

}
.input_find{
    border: none;
    /* background-color: #d3d3d3; */
    height: 100%;
    width: 65%;
    font-size: 15px;
    /* background-color: rgb(228, 190, 190); */
    background-color:   rgb(213, 199, 239);
    
}
.find_icon{
    margin-left: 10px;
    /* margin-right: 10px; */
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    /* border: 1px solid black; */
    
    
}

input[type="text"]  {
    border: none;
    outline: none;
}
.note_add{
    height: 40px;
    width: 23%;
    border: 1px solid black;
    margin:auto 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

}

.notepage_creat{
    width: 100%;
    height: auto;
    /* background-color: rebeccapurple; */
    border: 1px solid red;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.creat_note{
    width: 90%;
    height: 70px;
    /* border: 1px  black; */
    margin: 0px auto;
    border-style:dashed;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 8px;
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    border-width: 2px;

}
.addnewnote{
    /* border: 12x solid black; */
}
.all_favourite{
    width: 100% ;
    height: 40px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-bottom: 5px;
}
.note_all{
    font-size: 19px;
    width: auto;
    height: var(--note_all_favourite-heigh);
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
    /* padding-bottom: 20px; */
    
}
.note_favourite{
    font-size: 19px;
    width: auto;
    height: var(--note_all_favourite-heigh);
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
    /* border-bottom: 2px solid black; */


}
.notepage_content{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    overflow: scroll;
    display: flex;
    justify-content: center;
    background: #ecd6d6;
 
}
.note_conent{
    width: 100%;
    height: 75%;
    border: 1px solid black;
    /* display:  flex; */
    /* flex-direction: column; */
    justify-content: center;    
    overflow: scroll    ;
}

.newnote{
    margin: 0px auto;
    width: 90%;
    /* height: 155px; */
    /* height: 200px; */
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    margin-top: 10px;

}
.newnoteend{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newnote p {
    font-size: 24px;
    /* font-weight: 70px; */
}
.textnote {
    /* display: flex; */
    height: 100px;
    width: 100%;
   white-space: normal;
    word-wrap: break-word;
    word-break: break-word;

    /* Giới hạn tối đa 8 dòng (tuỳ bạn chỉnh) */
    line-height: 20px;
    overflow:scroll;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    /* padding-bottom: 10px; */
}

.textnote::-webkit-scrollbar{
    display: none;
}
.notefix{
    position: relative;
}
.noteedit{
 list-style: none;
  background-color: wheat ;
  width: 85px;
  height: 65px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
    right: 7px;
    bottom: 5px;
    transform-origin: bottom right;
 transform: scale(0);
 transition: transform 0.1s ease;
/* display: none; */

}
.notefix:hover .noteedit{
    transform: scale(1);
}

.noteedit li{
    /* background-color: gray; */
    width: 100%;
    margin-left: 15px;
    height: calc(100% / 2 );
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    gap:5%;

}


.note_grid{
    overflow-y: scroll;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit , minmax(130px , 1fr));
    /* grid-column-gap: 20px; */
    padding: 10px;
    /* background-color: #a0bce2; */
    gap:15px;
}
.notepage_note{
    /* margin-top: 20px; */
    background-color: #c6e7c7;
    height: 270px;
    border-radius: 5px;
    
    
}
.note_head{
    width: 100%;
    height: auto;
    /* background-color: rgb(226, 212, 239); */
    display: flex;
    align-items: center;
    justify-content:left;
    padding: 10px 0px;
    border-radius: 5px 5px 0px 0px;
    
}

/* .note_grid{
    overflow: scroll   ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    min-width: 50px;
}
.notepage_note{
    margin-top: 10px;
    padding:10px;
    width: 35%;
    height: 200px;
    border: 1px solid black;
} */
.note_status_important {
    height: auto;
    display: flex;
    align-items: center;
    gap:5px;
    /* border: 1px solid black; */
    /* width: 100px; */
     margin-right: auto;
    margin-left: 5px;
    /* width: 120px; */
}

.note_deleteicon{
    margin-right: 5px;
    /* border: 1px solid black; */
}
.note_status{
    width:80px;
    height: auto;
    background-color: lightblue;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 30px;
    padding: 4px 0px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    /* border: 1px solid rgb(124, 15, 15); */
    text-align: center;
    

}

#note_massage{
    width: 100%;
    height: 68%;
    background-color: rgb(223, 235, 213);
}
.note_rewrite_day{
    width: 100%;
    height:30px;
    /* background-color: #a56565; */
    display: flex;
    align-items: center;
    justify-content: end;
}
.note_day{
    /* align-self: flex-end; */
    margin-right: 10px;
}
.note_rewrite{
    border: 1px solid black;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
    left: 15px;
    border-radius: 5px;
    background: #ffffff;
}


.notepage_open{
    top:0;
    left:  0;
    height: 100%;
    display: flex;
    transition: 0.3s;
}

.notepagezoom{
    top:var(--headmenu-heigh);
    height: calc(100% - var(--headmenu-heigh));
    transition: 0.3s;
}

.open_note{
    display: flex;
}

/* ================================================================================================================================================================
 */

.todolistpage{
    position: fixed;
    top:var(--headmenu-heigh);
    left: 0;
    width: 100%;
    height: calc(100% - var(--headmenu-heigh));
    background-color: var(--notepage-color);
    transition: 0.3s;
    overflow: scroll;
    display: none;
}


.todoheading{
    font-size: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: var(--todoheaing-color);
}

.todotitle{
    margin-left: 20px;
}
.zoomtodo{
    margin-right: 20px;
    /* border: 1px solid black; */
    /* width: 20px;
    height: 20px; */

}
.todo_add{
    margin-top: 10px;
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todocreatgroup{
    width: 90%;
    height: 45px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 100px;
}
.todocreatgroup{
       display: flex;
    align-items: center;
}
.todocreatbar{
    height: 100%;
    margin-left: 25px;
    width: 60%;
    /* border: 5px solid black;
     */
     background-color: white;

}

.totoadd{
    height: 100%;
    width: 28%;
    /* border: 1px solid black; */
     display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(50, 50, 219);
    border-radius: 100px;
}
.all_task{
    margin-top: 8px;
    width: 100%;
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.todo_date_time{
    /* border: 1px solid black; */
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
}


.todocontent{
    /* margin-top: 20px; */
    width: 100%;
    height: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    /* min-height: 400px; */
    height: calc(100% - 75px - 45px - 60px - 50px);
    background-color: var(--todocontent-color);
}


input[type="checkbox"]{
    width: 25px;
    height: 25px;
}

.todoitem{
    width: 90%;
    /* height: 65px; */
    border: 1px solid black;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 7px;
    justify-content: space-between;
    background-color: var(--todoitem-color);
    margin-top: 15px;
    /* padding */

}

.todotick{
    height: 100%;
    width:80%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: left;
    align-items: center;
    gap:5px;
    margin-left: 15px;
}


.donetask{
    width: 35px;
    height: 35px;
}

.taskcontent{
    /* width: auto ; */
    width:calc(100% - 35px - 5px) ;
    height: 65px;
    border: 1px solid black;
    background-color: var(--taskcontent-color);
    /* background-color: bisque; */
}
.fix_trash{
   
    /* background-color: #c6e7c7; */
    padding:3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 8px;

}
.todofix{
    /* padding:5px */
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoall_today_thisweek{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border: 1px solid black;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #94b4e1;
}

.underedittodotask{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: hsl(216, 43%, 84%);
    opacity: 0.95;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: scroll;
    z-index:300;
}
.edittodotask{
    /* position: fixed; */
    /* margin: 0px auto; */
    margin-top: 40%;

    left: 12.5%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    top:calc(30%);

    width: 75%;
    height: auto;
   
    padding: 2px;
    border: 1px solid black;
    border-radius: 10px;
    gap:15px;
    padding-bottom: 20px;
    padding-top: 10px;
    overflow: scroll;
    z-index: 300;
    background-color: #8ebeea;

}


.todoedithead{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
}
.todoedittask{
    /* width: 80%; */
    width: 100%;
    height: 50px;
    /* margin: 0px auto; */
    border-radius: 3px;
}

.inputedittask{
    padding: 10px;
    border-radius: 7px;
    background-color: #e4e5f9;
    /* width: 100%; */
    /* height:70px; */
    width: 85%;
     display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* border-radius: 10px; */
}

.todoeditstatus{
    border: 1px solid black;
    height: 25px;
    width: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 0px auto; */
}

.todoprivacy{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px solid black;

}

.choosetodoprivacy{
    width: 60%;
    height: 12px;
    border: 1px solid black;
    border-radius: 5px;
}

.todoeditdelete_done{
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.todotrash{
    width: 35px;
    height: 35px;
    border: 1px solid black;
     display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 5px;;
    padding: 3px;
    
}
.todoeditdone{
    width: 70%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 30px;

}
.closeedittodo{
    position:absolute;
    top:20px;
    left: 20px;
    position: 301;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border: 1px solid black ;
    border-radius: 5px;
}
.underedittodotask{
    display: none;
}
#closeunderedittodo:checked ~ .underedittodotask{
    display: flex;
}
.underedittodotask{
    /* display: none; */
}

.todolistopen{
    top:0;
    left: 0;
    height: 100%;
    /* display: block; */
}
.open_todo{
    display: block;
}

/* ============================================================================================ */

.schdulepage{
    position: fixed;
    top:var(--headmenu-heigh) ;
    height: calc(100% - var(--headmenu-heigh));
    width: 100%; 
    border: 1px solid black;
    transition: 0.3s;
    background-color: #c2d6e8;
    display: none;
}


.schdule_heading{
    display:  flex;
    justify-content: space-between;
    padding-left: 20px;     
    padding-right: 20px;
    height: var(--headmenu-heigh);
    border: 1px solid black;
    align-items: center;
    background-color: #c6c4eb;
}
.date_year_year , .date_year_month{
    font-size: 15px;
   
}

.schudle_calender{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border: 1px solid black;
    gap:6px;
}
.btnleft , .btnright{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calender_day{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10%;
}
.schdule_time_work{
    margin-top: 10px;
    width: 100%;
    height: 75%;
    display: flex;
    overflow: scroll;
    /* margin-top: 10px; */
    border: 1px solid rgb(0, 0, 0);


}
.schdule_time{
    width: 20%;
    /* height: 70%; */
    /* border: 1px solid black; */
    /* transform: translate(); */
}
.schdule_work{
    width: 100%;
    height: auto;
    /* height: 100%; */
}

.schdule_time_hours{
    display: flex;
    flex-direction: column;
    /* justify-self: center; */
    align-items: center;
    list-style: none;
    /* gap:70px; */
    /* border: 1px solid black; */
    /* margin-top: 10px; */
          

}
.schdule_time_hours li{
    height: 20px;
    margin-bottom: 80px;
    width: 100%;
    text-align: center;
}
table{
    /* table-layout: fixed; */
    border-collapse: collapse;

}
.schdulecontentbox{
    width: 85%;
    height: 99.2px;
    /* border: 1px solid black; */
    border-left: 1px solid black;
    border-bottom: 0.5px solid rgb(134, 131, 131);
}
.calenderchoosegroup{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1%;
}

.line{
    width: 100%;
    height: 1.5px; 
    background-color: black;
    /* border: 1px solid  black; */
    /* opacity: 0.3; */
    margin: auto 0px;
}
.hour_left{
    text-align: center;
}

.day_1to5{
    border: 1px solid black;
    width: 20px;
    
    /* height: ; */
    border-radius: 5px;
    text-align: center;
    background-color: rgb(141, 177, 227);
    opacity: 0.6;
}
.day_3{
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 5px;
}

.day_3{
    opacity: 1;
    background-color: #5a54c9;
}


.schdule_add{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
    bottom: 100px;
    right: 30px;
    background-color: #5a54c9;
}
.schduleopen{
    transition: 0.3s;
    top:0;
    left: 0;
    height: 100%;
}

.open_schdule{
    display: block;
}

/* ===================================CHOOSE DAY IN MONNTH AND YEARS======================= */
  
*{
    padding: 0;
    margin: 0;
    font-family:'Poppis' , 'sans-serif';
}

.underschdulechooseday{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    /* background-color: #d4deec; */
    filter: blur(5px);
    opacity: 0.95;
    transition: 1.5s;

}

.schdulechosseday{
    /* height: 40%;    */
    position:relative;
    width: 80%;
    background-color: rgb(215, 215, 209);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    margin: 150px auto;
    transition: 0.5s;
    /* height: 40%;     */
}
    

.calenderheader{
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    /* margin:20px 0px; */
    padding-bottom: 10px;
}
.calendergroup{
    cursor: pointer;
    /* width: 350px; */
    /* padding: 30px; */
    padding-top: 15px;
}
.movemonth_year{
    display: flex;
}
.moveleft , .moveright{
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    background-color: rgb(234, 236, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.calendergroup ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}



.calendergroup .days li{
    z-index: 1;
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
}
.calendergroup ul li{
    position: relative;
    width: calc(100% / 7) ;
    text-align: center;
}

.calendergroup .days  li::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    top:50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50% , -50%) ;
    /* background: gray; */
    z-index: -1;
    
}
.calender_close_done{
    display: flex;

    align-items: center;
    justify-content: space-around;
    gap:40px;
}
.calender_done , .calender_close{
    width: 70px;
    height: 35px;
    background-color: rgb(135, 135, 143);
    /* margin-left:220px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* margin-bottom: 10px; */
    margin-top: 10px;
}


.days li:hover::before{
    background-color: whitesmoke;
}

.days .change::before{
    background-color
    : rgb(70, 70, 238);
}
/* ============================================================================================= */
/* .schdulechosseday.closecalender{
    display: none;
} */
.underschdulechooseday , .schdulechosseday{
    display: none;
}

.opencalender{
    display: block;
    z-index: 161;
    
}
.openlosecalender_under{
    display: block;
    z-index: 161;

}
/* ================================================CHART========================================================= */

.chartpage{
    position: fixed;
    top:var(--headmenu-heigh);
    width: 100%;
    height:calc(100% - var(--headmenu-heigh));
    background-color: rgb(156, 203, 244);
    transition: 0.3s;
    display: none;

}
.chartheading{
    width: 100%;
    height: var(--headmenu-heigh);
    background-color: #94a3b8;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap:40%;
    
}


 .chart_name_content{
    width: 100%;
    height: calc(100% - var(--headmenu-heigh));
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content:center ;  */
    overflow: scroll;
    /* padding-bottom: 40px; */


}
.chart_name_content::-webkit-scrollbar{
    display: none;
}

.chart_name_element{
    border-radius: 5px;
    margin-top: 10px;
    width: 95%;
    /* height: calc( (calc(100vh - var(--headmenu-heigh)) ) / 3  ); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9edf0;
    /* bo
    rder: 1px solid black; */
}

.chart_name_title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size: 30px;
}
.chart_name{
    width: 100%;
    height: 130px;
    display: flex;
    border-radius: 10px;
    /* margin-top: 10px; */
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-evenly;
    align-items: center;
}
.chart_name_left{
    width:calc(58% - 10px);
    height: 90%;
    border-radius: 5px;
    background-color: whitesmoke;
}
.chart_name_right{
    /* width: 42%; */
    width:calc(42% - 10px);
    height: 95%;
    /* border: 1px solid black; */
    border-radius: 5px;

    background-color: whitesmoke;
}
.nameleft_head ,.nameright_head{
    width: 100%;
    height: 27%;
    /* border: 1px solid black ; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    }
.leftitem1 , .leftitem2 , .leftitem3{
    display: flex;
    width: 75%;
    font-size: 20px;
    justify-content: left;
}
.rightitem1, .rightitem2 ,.rightitem3{
     font-size: 20px;
    text-align: left;
}
.name_leftitem , .nameright_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    gap:5px;
}
.name_leftitem{
    width: 100%;
}

.Cline{
    width: 80%;
    height: 3px;
    background-color: #5a54c9;
    margin: 10px;
}
/* ============================================================================================================= */

.chart_note_left{
    width: 47%;
    /* height: ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
} 
.note_leftitem{
    height: auto;
}
.note_leftitem_all{
 width: 55px;
 height:32%;
 border: 1px solid black;
 border-radius: 5px;
 /* margin: 20px; */
display: flex;
align-items: center;
justify-content: center;
}
.noteleft_end{
    width: 100%;
    height: 40%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    gap:15%;
}
.noteleft_end_Tags ,  .noteleft_end_Favo {
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noteleft_end_Favo{
    width: 50%;
    height: 100%;
}

#horizontalBar{
    border: 1px solid rgb(159, 161, 230);
    width: 50px;
    height: 100px;
    margin: auto 0px;
}

.chart_todolist_element{
    /* height: 100vh    ; */
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
}
.chart_todolist{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.chart_todolist_box{
    height: 50px;
    width: calc(80%/3 );
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top:5px;
    background-color: whitesmoke;
}

.timeofday{
    width: 95%;
    /* height: 300px; */
    /* border: 1px solid black; */
    background-color: #fafafa;
    margin-top: 10px;
    border-radius: 5px;
    
}
.timeofdayitem{
    background-color: var(--timeofdayitem-color);
    width: 100%;

}
.timeofdayhead{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chart_comparetimeofweek{
    width: 95%;
    margin-bottom: 20px;
    background-color: #e9edf0;
    border-radius: 5px;
}

.comparehead{
    width: 100%;
    height: 15%;
    display: flex ;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.chart_schdule_emelent{
     width: 95%;
     /* height: 1px; */
     border: 1px solid black;
     display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fafafa;
    padding: 10px 0px;
}
.chart_schdule_emelent_head{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schdule_element_box{
    width: 100%;
    height: calc(300px);
    display: flex;


    
}
.chart_schdule_emelent_box{
    width: 100%;
    display: flex;
     flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    margin-bottom: 15px;
}
.schdule_element_box{
    width: calc(90%/3);
    height: 85px;
    border: 1px solid black;
    /* padding: 20px 0px ; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.schdule_element_head{
    width: 100%;
    height: 20%;
    /* margin-bottom: 20px; */
    /* border: 1px solid black; */
    /* padding-bottom: ; */
    text-align: center;
}
.schdule_element_body{
    width: 60%;
    height: 60%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* margin: 10px 0px; */
}
.schdule_element_end{
    width: 100%;
    height: 20%;
    /* border: 1px solid black; */
    text-align: center;

}
.chart_pomo_element{
    background-color: var(--chart_pomo_element-color);
}
.chart_note_element{
    background-color: var(--chart_note_element-color);
}
.chart_todolist_element{
    background-color: var(--chart_todolist_element-color);
}
.chart_schdule_emelent{
    background-color: var(--chart_schdule_emelent-color);
}
.chart_name_content{
    background-color: var(--chart_name_content-color);
}
.todolistbarcls{
    background-color: var(--todolistbar-color);
}
.chartheading{
    background-color: var(--chartheading-color);
}
.chartopen{
    /* display: block; */
    /* position: fixed; */
        top:0px;
        left: 0;
        width: 100%;
        height:100%;
        /* background-color: rgb(156, 203, 244); */
        transition: 0.3s;
}

.open_chart{
    display: block;
}



}

/* @media (max-width: 267px) {
    .menulist{
        width: 100vw;
    }
}
@media (max-width: 768px){




}
@media (max-width: 1024px){
}
@media (max-width: 1440px){

} */
