body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.schdulechosseday{
    background-color: aliceblue;
    width: 400px;
}
.schdulechosseday header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.calendergroup ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}