*{
    padding: 0;
    margin: 0;
}


body{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: antiquewhite;
}
.schdulechosseday header{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movemonth_year{
    display: flex;
}
.moveleft , .moveright{
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    background-color: rgb(221, 191, 191);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.schdulechosseday{
    width: 250px;
    background-color: white;
}
.calendergroup ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}


.calendergroup{
    cursor: pointer;
    padding: 10px;
}
.calendergroup .days li{
    z-index: 1;
    margin-top: 30px;
}
.calendergroup ul li{
    position: relative;
    width: calc(100% / 7) ;
    text-align: center;
}

.calendergroup .days  li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top:50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50% , -50%) ;
    /* background: gray; */
    z-index: -1;
}

.days li:hover::before{
    background-color: whitesmoke;
}
